.inner-div {
  width: inherit;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
}
.blink {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* h5,
h6 {
  color: #001ee0;
} */

#root {
  background-image: linear-gradient(to left, white, #e6e9fc);
}

/* b {
  color: #001ee0;
} */
